
/////////////
// Header //
///////////

// Give header height to offset for fixed header
header {
  height: 4rem;
}

.header__container {
  @include clearfix;
  box-shadow: $box_shadow;
  background: $neutral_100;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__logo {
  float: left;
}

.header__title--desktop {
  display: block;
  margin: 0;
}

.header__title--mobile {
  display: none;
  margin: 0;
  padding-top: 4px;
}

.header__nav--desktop {
  float: right;
  margin-top: 0.5rem;
}

.header__nav--desktop a:nth-child(n+2) {
  margin-left: 1rem;
}

.header__nav--mobile {
  float: right;
  display: none;
  line-height: 0; 
}

@media (max-width: 575px) {

  .header__title--desktop {
    display: none;
  }

  .header__title--mobile {
    display: block;
  }

  .header__nav--desktop {
    display: none;
  } 

  .header__nav--mobile {
    display: block;
  }
}