
.gallery__nav__select {
  display: none
}

.gallery__nav_-section--1 {
	margin-bottom: 1.5rem;
}

@media (max-width: 767px) {
  
  .gallery__nav__select {
    display: block
  }

  .gallery__nav__list {
    display: none
  }

}