
///////////////////////
// Navigation Links //
/////////////////////

.NavigationLinks {

	h4 {
		margin-bottom: 1rem;
	}

	li {
		padding: 0.25rem 0;
	}
	
}

.NavigationLinks__section {
	margin-bottom: 1.5rem;
}