//////////////
// Contact //
////////////

.contact {
	margin-top: 6rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
  grid-gap: 6rem;
  align-items: center;
}

.contact__art img {
	width: 100%;
	height: auto;
	box-shadow: $box_shadow;
}

@media (max-width: 767px) {
  .contact {
    grid-template-columns: 1fr;
  }
  
  .btn--contact {
    width: 100%;
  }
}