/* About Styles */

.about--portrait {
  float: left;
  width: 300px;
}
.about--portrait img {
  width: 100%;
  height: auto;
}
.about--copy {
  float: left;
  margin-left: 2rem;
  width: calc(100% - 300px - 2rem);
}