/* Base Styles */

* {
  box-sizing: border-box;
}

body {
  background: #ffffff;
  margin: 0; 
  padding: 0;
  overflow-x: hidden; // This prevents overflow due to background shapes
}

body.modal-open {
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  cursor: pointer;
  padding: 0.25rem 0;
}

ul.numbered-list {
  list-style: decimal;
  list-style-position: outside;
  margin-left: 1.1rem;
}

ul.bullet-list {
  margin-left: 1.1rem;
  list-style: square;
  list-style-position: outside;
}

.li--locked:before{
  content: '';
  display: inline-block;
  height: 0.75rem;
  width: 0.75rem;
  margin-right: 0.5rem;
  background-image: url('https://blacksquare.nyc3.digitaloceanspaces.com/portfolio/icons/icon_lock.svg');
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input, textarea  {
  display: block;
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: $font_color_secondary;
  border: 1px solid $font_color_secondary;
  width: 100%;
}

select {
  padding: 0 0 1rem 0;
  font-size: 1rem;
  background: none;
  border: 0;
  border-bottom: 2px solid $neutral-10;
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   position: relative;
   text-align: left;
  cursor: pointer;
  width: 100%;
}

select:focus, select:active {
  outline: none;
  border: 1px solid $color-gray-mid;
}

.select-wrapper {
  position: relative;
}

.select-wrapper:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid $color-link;
  position: absolute;
  top: 8px;
  right: 0.5rem;
  pointer-events: none;
}

button {
  cursor: pointer;
  font-size: 1rem;
}

button:focus {
  outline: 0;
}

.btn {
  background: none;
  border: 2px solid $color-link;
  border-radius: 10px;
  color: $color-link;
  padding: 1rem;
}

.btn--300 {
  max-width: 300px;
}

.button--icon {
  background: none;
  border: 0;
  padding: 0;
  line-height: 0;
  img {
    height: 32px;
    width: 32px;
  }
}

.button--icon--social img {
  height: 48px;
  width: 48px;
}

.button--icon--disabled {
  opacity: 0.3;
}

.center {
  text-align: center;
}

.centered {
  margin: 0 auto;
}

.clearFix {
  @include clearfix();
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.site_wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: border-box;
  @include clearfix();
}
.site_wrapper--main {
  background: #ffffff;
}

.content_wrapper {
  margin: 2rem 0;
  clear: both;
}

section {
  margin-bottom: 3rem;
  clear: both;
}

@media (max-width: 767px) {
  .content_wrapper {
    margin: 1rem 0;
  }
}
@media (max-width: 414px) {
  .site_wrapper {
    padding: 0 1rem;
  }
}

/* Gallery Nav Sidebar Spacing */

.col__left {
  width: 192px;
  float: left;
}

.col__right {
  width: calc(100% - 192px - 2rem);
  float: right;
  margin-left: 2rem;
}

@media (max-width: 767px) {
  .col__left {
    float: none;
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .col__right {
    float: none;
    width: 100%;
    margin-left: 0;
  }
}