/* Contact Styles */

.contact {
  width: 100%;
  max-width: 400px;
  margin-bottom: 2rem;
}

.contact input, .contact textarea  {
  display: block;
  font-size: 0.875rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid $color-gray-mid;
  width: 100%;
}

.contact label {
  display: block;
  margin-bottom: 0.5rem;
}

@media (max-width: 767px) {
  .contact {
    max-width: 100%;
  }
  
  .btn--contact {
    width: 100%;
  }
}