
////////////////////////////
// Gallery Layout Styles //
//////////////////////////

.gallery__label {
  text-align: center;
  margin-bottom: 0;
}

.gallery__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

// Gallery layout: 4 column + sidebar
.gallery__image {
  height: calc((100vw - #{$sidebar-width} - 12rem) / 4);
  max-height: 204px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  box-shadow: $box_shadow_light;
}

// Home layout: 4 column
.gallery__container--full-width .gallery__image {
  height: calc((100vw - 10rem) / 4);
  max-height: 260px;
}

// Home work sample layout. 2 column
.GalleryHomeCaseStudy.gallery__container {
  grid-template-columns: repeat(2, 1fr);
}


@media (max-width: 967px) {

  .gallery__container {
    grid-template-columns: repeat(3, 1fr);
  }

  // Gallery layout: 3 column + sidebar
  .gallery__image {
    height: calc((100vw - #{$sidebar-width} - 10rem) / 3);
  }
  
  // Home layout: 3 column
  .gallery__container--full-width .gallery__image {
    height: calc((100vw - 8rem) / 3);
    max-height: 280px;
  }

}

@media (max-width: 767px) {

  // Gallery layout: 3 column
  .gallery__image {
    height: calc((100vw - 8rem) / 3);
  }

}

@media (max-width: 575px) {

  .gallery__container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }

  // All Gallery layout: 2 column
  .gallery__image, .gallery__container--full-width .gallery__image {
    height: calc((100vw - 6rem) / 2);
    max-height: none;
  }

  // Home work sample layout. 1 column
  .GalleryHomeCaseStudy.gallery__container {
    grid-template-columns: repeat(1, 1fr);

    .gallery__image {
      max-height: 240px;
    }
  }

}

@media (max-width: 414px) {

  .gallery__container {
    grid-template-columns: repeat(1, 1fr);
  }

  // All Gallery layout: 1 column
  .gallery__image, .gallery__container--full-width .gallery__image {
    height: calc(100vw - 2rem);
  }

}
