/* Header Styles */

header {
  border-bottom: 1px solid $color-gray-light;
  height: calc(2rem + 40px);
  padding-bottom: 4rem;
  padding-top: 1rem;
}

.header__logo {
  float: left;
  img {
    width: 100px;
    height: auto;
    float: left;
  }
  h1 {
    color: $color-gray-dark;
    float: left;
    margin-left: 0.75rem;
    margin-top: 0.5rem;
  }
}

.header__nav {
  float: right;
  margin-top: 1rem;
}
.header__nav a:nth-child(n+2) {
  margin-left: 1rem;
}

footer {
  clear: both;
  text-align: center;
  padding: 2rem 0;
}

@media (max-width: 767px) {
  header h1 {
    font-size: 28px;
  }
  .header__nav {
    font-size: 0.875rem;
    margin-top: 0.5rem;
  }
}

@media (max-width: 575px) {
  header {
    padding-top: 1rem;
    padding-bottom: 5.5rem;
  }
  .header__logo {
    float: none;
    text-align: center;
    margin: 0 auto;
    h1 {
      display: none;
    }
    img {
      float: none;
    }
  }
  .header__nav {
    float: none;
    text-align: center;
    margin-top: 0.25rem;
  }
}