@import 'normalize.css'

/* Base Styles */

* {
  box-sizing: border-box;
}

body {
  background: #eeeeee;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #0066ff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  cursor: pointer;
}

select {
  padding: 10px 30px 10px 10px;
  font-size: 1rem;
  background: none;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid black;
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   position: relative;
   text-align: left;
}

select:focus, select:active {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

.select-wrapper:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #000;
  position: relative;
  top: 15px;
  right: 20px;
  pointer-events: none
}

h1 {
  font-weight: 300;
  margin: 0;
}

.site_wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: border-box;
}
.site_wrapper--main {
  background: #ffffff;
}

.content_wrapper {
  margin: 2rem 0;
  clear: both;
}

/* Header Styles */

header {
  border-bottom: 1px solid #eeeeee;
  height: calc(2rem + 40px);
  padding-top: 2rem;
}

header h1 {
  float: left;
}
header h1 a {
  color: #333333;
}

.header__nav {
  float: right;
  margin-top: 0.75rem;
}
.header__nav a {
  margin-left: 1rem;
}

footer {
  clear: both;
  text-align: center;
  padding: 2rem 0;
}

/* Modal Styles */

.modal {
  background: rgba(0,0,0,0.8);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

/* Gallery Styles */

.gallery__nav {
  width: 136px;
  float: left;
}
.gallery__nav li {
  margin-bottom: 0.5rem;
}
.gallery__container {
  width: calc(100% - 136px - 2rem);
  float: right;
  margin-left: 2rem;
}
.gallery__item {
  width: 210px;
  height: 210px;
  background-size: cover;
  background-position: center;
  float: left;
  margin: 0 1rem 2rem 1rem;
}

/* Media Queries */