@import 'normalize.css'

/* Base Styles */

* {
  box-sizing: border-box;
}

body {
  background: #eeeeee;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #0066ff;
}

p {
  line-height: 1.5;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  cursor: pointer;
}

select {
  padding: 10px 30px 10px 0px;
  font-size: 1rem;
  background: none;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid black;
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   position: relative;
   text-align: left;
  cursor: pointer;
}

select:focus, select:active {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

.select-wrapper {
  position: relative;
}

.select-wrapper:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #000;
  position: absolute;
  top: 7px;
  right: 0;
  pointer-events: none
}

button {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

h1 {
  font-weight: 300;
  margin: 0;
  font-family: 'Ubuntu', helvetica, arial, sans-serif;
}

h2, h4 {
  font-family: 'Ubuntu', helvetica, arial, sans-serif;
}

.site_wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: border-box;
}
.site_wrapper--main {
  background: #ffffff;
}

.content_wrapper {
  margin: 2rem 0;
  clear: both;
}

/* Header Styles */

header {
  border-bottom: 1px solid #eeeeee;
  height: calc(2rem + 40px);
  padding-top: 2rem;
}

header h1 {
  float: left;
}
header h1 a {
  color: #333333;
}

.header__nav {
  float: right;
  margin-top: 0.75rem;
}
.header__nav a {
  margin-left: 1rem;
}

footer {
  clear: both;
  text-align: center;
  padding: 2rem 0;
}

/* Gallery Styles */

.list--selected {
  font-weight: bold;
}
.gallery__nav {
  width: 136px;
  float: left;
}
.gallery__nav li {
  margin-bottom: 0.5rem;
}
.gallery__container {
  width: calc(100% - 136px - 2rem);
  float: right;
  margin-left: 2rem;
}
.gallery__item {
  width: 210px;
  height: 210px;
  background-size: cover;
  background-position: center;
  float: left;
  margin: 0 1rem 2rem 1rem;
  cursor: pointer;
}

/* Modal Styles */

.modal {
  background: rgba(0,0,0,0.9);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 2rem 0;
}
.modal__info {
  color: #ffffff;
  font-size: 0.875rem;
  padding: 1rem;
  margin-right: 2rem;
  width: 300px;
  float: left;
  box-sizing: border-box;
}
.modal__img {
  float: left;
  width: calc(100% - 300px - 2rem);
  height: calc(100vh - 4rem);
}
.modal__img img {
  height: 100%;
  width: auto;
}
.modal__buttons {
  margin-top: 3rem;
}

.btn--modal {
  background: none;
  border: 2px solid #ffffff;
  color: #ffffff;
  border-radius: 10px;
  margin-right: 1rem;
  padding: 0.25rem 1rem 0.5rem;
  font-size: 1.5rem;
}
.btn--modal--disabled {
  color: #444444;
  border: 2px solid #444444;
}

/* About Styles */

.about--portrait {
  float: left;
  width: 300px;
}
.about--portrait img {
  width: 100%;
  height: auto;
}
.about--copy {
  float: left;
  margin-left: 2rem;
  width: calc(100% - 300px - 2rem);
}