body {
  font-family: $font-primary;
  font-weight: 300;
  color: $font_color_primary;
}

a {
  text-decoration: none;
  color: $color_link;
}

a:hover {
  color: darken($color_link, 15%)
}

p {
  line-height: 1.5;
  color: $color-gray-dark;
}

h1 {
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-headline;
  color: $font_color_primary;
  font-weight: 700;
  margin-top: 0;
}

.big-headline {
	font-size: 48px;
}

// .headline {
//   text-align: center;
//   margin: 2rem auto;
//   font-weight: 300;
// }

// .highlight {
//   color: $color-primary;
// }

@media screen and (max-width: 767px) {
  .big-headline {
    font-size: 32px;
  }
}