// OLD Variables

$color-primary: #ED1C24;
$color-link: #00AEEF;
$color-gray-light: #eeeeee;
$color-gray-mid: #aaaaaa;
$color-gray-dark: #666666;
$white: #ffffff;

///////////////////
// Color Tokens //
/////////////////

$neutral_0: #000000;
$neutral_10: #111111;
$neutral_30: #595959;
$neutral_60: #999999;
$neutral_75: #BFBFBF;
$neutral_85: #D9D9D9;
$neutral_95: #F2F2F2;
$neutral_100: #ffffff;

$alert_red: #FF4D4D;
$alert_green: #35B65C;
$alert_yellow: #FFBB39;

$red_base: #EB454B;
$red_light: #FBD9DA;
$red_dark: #C63C4C;

$blue_base: #2EB9ED;
$blue_light: #CEEFFC;
$blue_dark: #03A2DD;

//////////////////////
// Color Variables //
////////////////////

$font_color_primary: $neutral_10;
$font_color_secondary: $neutral_30;

$color_link: $red_dark;

////////////
// Fonts //
//////////

$font-headline: 'Playfair Display', 'Georgia', 'Times New Roman', serif;
$font-primary: 'Georgia', 'Times New Roman', serif;

/////////////////
// Attributes //
///////////////

$sidebar-width: 192px;
$modal-background: rgba(0,0,0,0.75);

$border-radius: 8px;
$stroke-width: 3px;
$box_shadow: 0px 2px 16px rgba(0,0,0,0.3);
$box_shadow_reverse: 0px -2px 16px rgba(0,0,0,0.3);
$box_shadow_light: 0px 2px 10px rgba(0,0,0,0.1);;

///////////////////
// break points //
/////////////////

$break_small: 360px;
$break_iphone: 414px;
$break_medium: 600px;
$break_large: 1024px;



