// Variables

$font-headline: 'Ubuntu', helvetica, arial, sans-serif;
$font-primary: 'Open Sans', helvetica, arial, sans-serif;

$color-primary: #ff0066;
$color-link: #0066ff;
$color-gray-light: #eeeeee;
$color-gray-mid: #aaaaaa;
$color-gray-dark: #666666;
$white: #ffffff;

$modal-background: rgba(0,0,0,0.9);