@import 'normalize.css'

/* Base Styles */

body {
  background: #eeeeee;
  font-family: arial, sans-serif;
}

a {
  text-decoration: none;
  color: #0066ff;
}

.site_wrapper {
  background: #ffffff;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* Header Styles */

header {
  border-bottom: 1px solid black;
  padding: 2rem 0;
}

header a {
  margin-right: 1rem;
}

/* Media Queries */