// The parent element needs to have position relative
.gallery__item {
  position: relative;
}

.GalleryLockIcon__Background:after {
  content: "";
  background-color: $modal-background;
  border-left: $stroke-width solid $neutral_100;
  border-bottom: $stroke-width solid $neutral_100;
  border-radius: 0 0 0 16px;
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 7;
}

.GalleryLockIcon__Lock:after {
  content: "";
  background-image: url('https://blacksquare.nyc3.digitaloceanspaces.com/portfolio/icons/icon_lock--white.png');
  background-size: cover;
  height: 1rem;
  width: 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 8;
}