.Login {
	margin-top: 6rem;
}

.Login__wrapper {
	width: 100%;
	max-width: 420px;
	margin: 0 auto;
}

.Login__form {
	margin-top: 2rem;
}

@media (max-width: 767px) {
	.Login__wrapper {
		max-width: 100%;
	}
}